<form id="form-checkout">
  <span>5031 4332 1540 6351</span>
  <div id="form-checkout__cardNumber" class="container"></div>
  <span>11/25</span>
  <div id="form-checkout__expirationDate" class="container"></div>
  <span>123</span>
  <div id="form-checkout__securityCode" class="container"></div>
  <input type="text" id="form-checkout__cardholderName" />
  <select id="form-checkout__issuer"></select>
  <select id="form-checkout__installments"></select>
  <select id="form-checkout__identificationType"></select>
  <input type="text" id="form-checkout__identificationNumber" />
  <input type="email" id="form-checkout__cardholderEmail" />

  <button type="submit" id="form-checkout__submit">Pay</button>
  <progress value="0" class="progress-bar">Loading...</progress>
</form>
